@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/imagem-de-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.transparencia{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.721);
}

.logoHeader{
    width: 100px;
    transition: transform 2.5s ease;
}

.logoHeader:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

.navegacaoHeader{
    display: flex;
    gap: 40px;
}

.botoesNavegacaoHeader{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    color: white;
    background: none;
    border: none;
    letter-spacing: 1px;
}

.botoesNavegacaoHeader:hover{
    color:#20AABB;
    cursor: pointer;
    transition: 290ms;
    font-size: 24px;
}

.botaoQueroTeste{
    height: 50px;
    width: 310px;
    font-size: 18px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: whitesmoke;
    border-radius: 30px;
    background-color:#20AABB;  
    font-weight: bold;
    border: 2px solid;
}

.botaoQueroTeste:hover{
    width: 335px;
    font-size: 20px;
    transition: 500ms;
    cursor: pointer;
}


